body{
    background-color: #d6e2f0;
    /* height: 10%;
    width: 100%; */
}
.box {
    position: absolute;
    width: min-content;
    height: min-content;
    border-radius: 1rem;
    background-color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

img {
    width: 18.7rem;
    height: 18.5rem;
    border-radius: 0.5rem;
    margin: 1rem 1rem 0rem 1rem;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #1f3251;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #7b879d;
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
}